/* .main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: black;
}

.navbar {
    width: 80vw;
    background : transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
    height: auto;
    padding-top: 15px;
}

.list {
    list-style: none;
    display: flex;
    gap: 2vw;
} */

/* ----------------RESPONSIVENESS---------------- */
/* CHECKBOX HACK */
/* input[type=checkbox] {
    display: none;
} */

/* HAMBURGER MENU BUTTON */
/* .hamburger {
    display: none;
    user-select: none;
    font-size: 18px;
}

.navbar.fixed {
    transition: .3s ease-in-out;
} */

/* MOBILE NAV MENU */
/* .mobileNavMenu {
    display: none;
}

@media (min-width: 768px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        box-shadow: -15px 17px 17px rgba(10, 10, 10. 0.15);
    }
}

@media (max-width: 768px) {
    .list {
        display: none;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    input[type=checkbox] {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .mobileNavMenu {
        display: block;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 20px;
        backdrop-filter: blur(25px);
        box-shadow: -15px 17px 17px rgba(10, 10, 10. 0.25);

        height: 80%;
        width: 80%;
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 9999;
    }

    .mobileNavMenu {
        display: none;
    }
} */

/* ---------------------------------------- */
.logo {
    width: 80px;
    height: auto;
    padding-top: 15px;
}

.navbar {
    width: 80vw;
    background : transparent;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    /* gap: 2vw; */
}

.listItem {
    margin: 0 1vw;
}

.menuIcon, .menuCross {
    display: none;
}

/* RESPONSIVENESS GOES HERE */
@media only screen and (max-width: 800px) {
    .logo {
        width: 70px;
        height: auto;
        position: absolute;
        /* top: 10px; */
        left: 10px;
    }

    .menuIcon {
        width: 35px;
        height: auto;
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .menuCross {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .navbar {
        width: 100vw;
    }

    .desktopNavbar {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        z-index: 99999;

        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(25px);
        box-shadow: -15px 17px 17px rgba(10, 10, 10. 0.25);
        width: 100%;
        height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;

        display: none;
    }
    
    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: 100vh;
    }

    .listItem {
        margin: 10px 0;
        font-size: 1.2em;
    }

    .toggleShow {
        transform: none;
    }
}

@media only screen and (max-width: 500px) {
    .logo {
        width: 60px;
        height: auto;
    }

    .menuIcon {
        width: 30px;
        height: auto;
        display: block;
    }
}