body {

  background-color: #121213;
  font-family: 'GTA Extended', sans-serif;
  color: #f9faff;
  font-size: 1vw;
  line-height: 1.6;
  font-weight: 400;

}

.tempNav {
  margin-left: 10vw;
}

.headline {
  color: #bec5cc;
  font-weight: 700;
  margin-left: 62px;
  width: 90px;
}

.roadmap {
  width: 85%;
  border: 1px solid rgba(238, 237, 242, 0.34);
  margin: auto;
  margin-top: 10px;
  top: 30px;
  border-radius: 23px;

}

.roadmap-container {
  width: 100%;
  display: flex;
  margin: 25px 50px;
}

.container-1 {

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding-right: 2em;
  -webkit-box-orient: vertical;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-start;

}


.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  padding-right: 2em;
  -webkit-box-orient: vertical;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  justify-content: flex-end;
  align-items: flex-start;

}

.h3 {
  font-size: 2em;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  font-family: Neuemachina, sans-serif;
  margin: 25px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;


  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;

}

@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.content {
  position: relative;
  /* align-items: flex-end; */
}

.timeline-list {
  list-style: none;
  align-items: flex-end;


}

.timeline-list-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 20px;
  justify-content: space-between;
  animation: movedown 1s linear forwards;

}


@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-10px);

  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }

}


.timeline-list:nth-child(1) {
  animation-delay: 0s;

}

.timeline-list:nth-child(2) {
  animation-delay: 1s;

}

.timeline-list:nth-child(3) {
  animation-delay: 2s;

}


.timeline-list:nth-child(4) {
  animation-delay: 3s;

}

.dots {
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 50%;
  margin-right: 5px;

}

.text {
  margin-left: 20px;
  font-size: 15px;
}


.contents {
  position: relative;
  align-items: flex-end;
}

.content::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: #fff;
    top: 0;
  margin-left: 64px;
  /* z-index: -1; */
  animation: move 3s linear forwards;
}

@keyframes move {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }

}

.bottom {
  display: flex;
  width: 100%;
  height: 4rem;
  position: relative;
  align-items: center;
}


.bottom-dot {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;


  margin-left: 50px;
  margin-top: -60px;

}

.bottom::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 0;

  margin-left: 0px;
  z-index: 1000;
  animation: mov 3s linear forwards;

  display: flex;
  flex-direction: column;
}

@keyframes mov {
  0% {
    width: 0;
  }

  100% {
    width: 111%;
  }

}


@media screen and (max-width:1200px) {
  .h3 {
    font-size: 2em;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: uppercase;
    font-family: Neuemachina, sans-serif;
    margin: 50px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;


    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

  }



  @keyframes back {
    100% {
      background-position: 2000px 0;
    }
  }


  .timeline-list-text{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .text{
    width: 200px;
  }
}


@media screen and (max-width:870px) {
  .text {
    width: 90px;
    font-size: 13px;
  }


  .headline {
    color: #bec5cc;
    font-weight: 700;
    margin-left: 62px;
    width: 96px;
    font-size: 13px;
  }

  .roadmap {
    margin-top: 100px;
  }

}

@media screen and (max-width:800px) {
  .roadmap-container {
    width: 88%;
    display: flex;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    margin-left: 50px;

  }

.h3{
  font-size: 2em;
}
  .timeline-list-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
    padding: 20px;
    justify-content: space-between;
    animation: movedown 1s linear forwards;
  
  }

  .cursor2 {
    display: none;

  }

  .cursor {
    display: none;
  }

.bottom {
    display: flex;
    width: 112%;
    height: 4rem;
    position: relative;
    align-items: center;
  }

  .bottom-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #fff;

    margin-left: 31px;
    margin-top: -60px;
    left: 18px;
    position: absolute;
  }

  .bottom::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 0;

    margin-left: 0px;
    z-index: 1000;
    animation: mov 3s linear forwards;

    display: flex;
    flex-direction: column;

  }

  .bottoms::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 0;

    margin-left: 0px;
    z-index: -1;
    animation: mov 3s linear forwards;
    box-shadow: 1px 1px 22px 3px #fff;
    display: flex;
    flex-direction: column;
  }

  @keyframes mov {
    0% {
      width: 0;
    }

    100% {
      width: 500%;
    }

  }
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid black;

  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);

  transition: .1s;
  box-shadow: 0px 0px 20px #73cdbe;

}

.cursor2 {
  position: fixed;
  width: 30px;
  height: 30px;

  background-color: transparent;

  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: .15s;
  box-shadow: 0px 0px 20px #73cdbe;

}

.content:hover~cursor {
  transform: translate(-50%, -50%) scale(.5);
}




.button:hover~cursor {
  cursor: pointer;
  transform: translate(-50%, -50%) scale(1.5);
}