@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800&display=swap');

.main_body {
  font-family: 'Exo 2', sans-serif;
  font-size: 18px;
  background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
  color: rgba(255, 255, 255, 0.735);
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
  
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
  
    transition: .1s;
    box-shadow: 0px 0px 20px #73cdbe;
    z-index: 100000000;
  
  }
  
  .cursor2 {
    position: fixed;
    width: 30px;
    height: 30px;
  
    background-color: transparent;
  z-index: 10000000000;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .15s;
    box-shadow: 0px 0px 20px #73cdbe;
  
  }
  
  .content:hover~cursor {
    transform: translate(-50%, -50%) scale(.5);
  }  
  
  .button:hover~cursor {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.5);
  }
  @media screen and (max-width:800px){
    .cursor2 {
        display: none;
    
      }
    
      .cursor {
        display: none;
      }
  }