@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  background-color: #000000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
  /* Added by dev-ag */
  font-family: 'Lato', sans-serif;
  background-color: #000000;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
